@charset "ISO-8859-1";

	body {
		font-family:Verdana;
		background: #B3AEE0;
        color: #171147;
        
	}

	.nav {
        text-align: right;
        padding-right: 20px;
        margin-top: 30px;
        top: 0;
  		width: 100%;
        background: #050217;
        overflow: hidden;
        
        
	
	}
	/*Prevents hyperlinks from having lines under the text*/
	.nav a {
		text-decoration: none;
		color: #B3AEE0;
	}
	
	/*Prevents hyperlinks from having lines under the text*/
	ul {
		list-style-type: none;
		display: block;
       
        
	}
	
    li {
		display: inline;
        padding-right: 5px;
        color: #B3AEE0;

	
	}



	/*For the product table*/
.orderTable td {
 
	padding: 1em;
 	border: 2px solid black;
 	
}

.orderTable th {
	padding: 1em;

    
}

.orderTable{
	text-align:center;
	border-collapse: collapse;
	border: 2px solid black;
    
    	  
}

.orderTHeader{
	text-align:center;
	background-color: #dfdfdf;
	font-size: 20px;

}



.orderORow{
	text-align:center;
	border: 2px solid black;
	
}

.orderERow{
	text-align:center;
    background-color: #f5f5f5;
    

}
